//
// Variables
// ---------------------------

// Globals
// -------------------------
$baseUrl: env_or_default("STATIC_URL", "/static/");

// Colors
// -------------------------
$white:                     #FFF !default;
$black:                     #000 !default;
$pink:                      #FA70F6;
$grey:                      #999999;
$dark-grey:                 #0e0f0f;
$blue:                      #00aeed;

// Scaffolding
// -------------------------
$bodyBackground:            $black !default;

// Links
// -------------------------
$linkColor:                 #00aeed !default;
$linkColorHover:            darken($linkColor, 15%) !default;

// Typography
// -------------------------
$baseFontSize:              12px !default;
$baseFontFamily:            "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$baseLineHeight:            1.2 !default;
$textColor:                 $grey;

$headingsFontFamily:        inherit !default; // empty to use BS default, $baseFontFamily
$headingsFontWeight:        100 !default;    // instead of browser default, bold
$headingsColor:             inherit !default; // empty to use BS default, $textColor
$headingsLetterSpacing:     1.5px;

// Fonts
// -------------------------
$ProximaRegular:            "Proxima N W15 Reg";
$ProximaSemiBold:           "Proxima N W15 Smbd";
$ProximaThin:               "Proxima N W01 Thin Reg";
$DinNextCondensed:          "DINNextW01-CondensedLig";

// Buttons
// -------------------------
$btnBackground:             transparent !default;
$btnBackgroundHighlight:    darken($white, 10%) !default;
$btnBorder:                 #bbb !default;
